* {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
}

.quoteContainer {
  width: 100%;
}
.quoteHeading {
  font-family: "Barlow", sans-serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}
.quoteDescription {
  width: 60%;
  margin: 0 auto;
  font-family: "Barlow", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  text-transform: lowercase;
}

.filterbarContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filterbarContainer .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.25;
}
.totalItems {
  font-weight: 700;
}
.hideFilterBtn {
  display: flex;
  align-items: center;
  font-family: "Adobe Caslon Pro", sans-serif;
  color: var(--TEXT_SECONDARY);
  text-decoration: underline;
}
.hideFilterBtn:hover {
  cursor: pointer;
}
.filterbarContainer .right {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  width: 200px;
  align-items: end;
}
.filterbarContainer .right:hover {
  cursor: pointer;
}
.sortingOne {
  display: flex;
  flex-direction: row;
}
.reccDropDown {
  position: absolute;
  width: 250px;
  padding: 30px 40px;
  background: white;
  margin-top: 30px;
  box-shadow: 0px 0px 7px 1px #a3aaaf33;
}
.selectedSort {
  font-weight: 700;
}
.nonSelectedSort {
  font-weight: 400;
}
.reccDropDown ul {
  display: flex;
  flex-direction: column;
  color: black;
  row-gap: 20px;
  align-items: end;
}
.reccDropDown ul:hover {
  cursor: pointer;
}
.filterProductCardsWrapper {
  display: flex;
}
.sideBar {
  display: flex;
  flex: 0.25;
}
.productsContainer {
  flex: 1;
}

.productsContainer-75 {
  flex: 0.75;
}
.product-grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 32px;
  column-gap: 16px;
}
.product-grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 32px;
  column-gap: 16px;
}

@media screen and (max-width: 1111px) {
  .totalItems {
    display: none;
  }
  .filterbarContainer .left {
    flex: 0.5;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
  .filterbarContainer .right {
    flex: 0.5;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }
}

@media screen and (min-width: 992px) {
  .product-grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 820px) {
  .quoteHeading {
    font-size: 40px;
  }
  .quoteDescription {
    margin-top: 20px;
    width: 90%;
  }
}
